<header>
  <div class="container container-header" id="header">
    <nav class="nav">
      <div class="logo-header">
        <a class="logo-link" href="./index.html"
          ><span class="logo-span">SIMPLY</span>&nbsp;CHOCOLATE<svg
            class="icon-chocolate-header"
            width="21"
            height="21"
          >
            <use href="./img/icon.svg#icon-chocolate"></use></svg
        ></a>
      </div>
      <ul class="menu-header">
        <li><a class="header-menu-link" href="#">Home</a></li>
        <li><a class="header-menu-link" href="#how-made">How it’s made?</a></li>
        <li>
          <a class="header-menu-link" href="#our-products">Our products</a>
        </li>
        <li><a class="header-menu-link" href="#top-sellers">Top sellers</a></li>
        <li>
          <a class="header-menu-link" href="#chocolate-is-loved"
            >Chocolate is loved</a
          >
        </li>
      </ul>
      <ul class="socials-header">
        <li class="icon-social-item">
          <a
            class="icon-social-link"
            href="https://www.instagram.com"
            target="_blank"
            rel="noreferrer noopener"
            ><svg class="icon-social-svg" width="24" height="24">
              <use href="./img/icon.svg#icon-instagram"></use></svg
          ></a>
        </li>
        <li class="icon-social-item">
          <a
            class="icon-social-link"
            href="https://twitter.com"
            target="_blank"
            rel="noreferrer noopener"
            ><svg class="icon-social-svg" width="24" height="24">
              <use href="./img/icon.svg#icon-twitter"></use></svg
          ></a>
        </li>
      </ul>
      <div class="display-none">
        <button class="menu-toggle js-open-menu">
          <svg class="icon-burger" width="28" height="28">
            <use href="./img/icon.svg#icon-burger"></use>
          </svg>
        </button>
      </div>
    </nav>
  </div>
</header>
