<section class="section-hero">
  <div class="container hero-container">
    <h1 class="hidden">Hero page</h1>
    <h2 class="hero-subtitle">
      Treat yourself or a loved one to our finest ingredients for a moment of
      pure delight!
    </h2>
    <div class="hero-info">
      <div class="buttons-hero">
        <button type="button" class="button hero-btn v-open-menu anim-b">
          Buy now
        </button>
        <a class="button made-btn anim-b" href="#section-made"
          >How it&#39;s made</a
        >
      </div>
      <a class="button scroll-btn anim-b" href="#section-footer"
        >scroll down
        <svg class="scroll-icon" width="16" height="16">
          <use href="./img/icon.svg#icon-chek-box"></use>
        </svg>
      </a>
    </div>
  </div>
</section>
