<section class="section-how-made">
    <div class="container">
        <div class="container-how-made">
            <h2 class="title-how-made">how it&#39;s <span class="title-how-made made">made?</span></h2>
        <iframe width="560" height="620" src="https://www.youtube.com/embed/HXE4bq5EoOc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    <div class="container-try">
        <h3 class="title-try">Try  our chocolates today and discover the perfect balance of flavor</h3>
        <ul class="title-made">
            <li class="item-made">Heat the milk in a saucepan without bringing it to a boil. Add sugar and cocoa powder.</li>
            <li class="item-made">At the same time, prepare a water bath. Melt the butter on it.</li>
            <li class="item-made">"Mix" the milk mixture and already liquid butter. Mix thoroughly with a silicone spatula so that the mass becomes uniform and silky.</li>
            <li class="item-made">Heat the mixture over low heat, letting it barely boil.</li>
            <li class="item-made">Pour the chocolate into special containers (can be replaced with ice molds). Allow to cool and harden.</li>
        </ul>
    </div>
    </div>
</section> 