<section class="section-how-made" id="section-made">
  <div class="container">
    <h2 class="title-how-made" id="how-made">
      how it&#39;s <span class="title-how-made made">made?</span>
    </h2>
    <div class="container-how-made">
      <div class="features-video plyr__video-embed" id="features-player" data-poster="./img/features/poster.jpg">
        <iframe src="https://www.youtube.com/embed/gTEdhJX-JSQ?autoplay=0&modestbranding=1&controls=0&disablekb=1&playsinline=1&cc_load_policy=1&cc_lang_pref=auto&widget_referrer=https%3A%2F%2Fplyr.io%2F%23youtube&rel=0&showinfo=0&iv_load_policy=3&modestbranding=1&customControls=true&noCookie=false&enablejsapi=1&origin=https%3A%2F%2Fplyr.io&widgetid=1" 
        allowfullscreen
        allowtransparency 
        allow="autoplay">
      </iframe>
      </div>
      <div class="container-try">
        <h3 class="title-try">
          Try our chocolates today and discover the perfect balance of flavor
        </h3>
        <ul class="title-made">
          <li class="item-made">
            Heat the milk in a saucepan without bringing it to a boil. Add sugar
            and cocoa powder.
          </li>
          <li class="item-made">
            At the same time, prepare a water bath. Melt the butter on it.
          </li>
          <li class="item-made">
            "Mix" the milk mixture and already liquid butter. Mix thoroughly
            with a silicone spatula so that the mass becomes uniform and silky.
          </li>
          <li class="item-made">
            Heat the mixture over low heat, letting it barely boil.
          </li>
          <li class="item-made">
            Pour the chocolate into special containers (can be replaced with ice
            molds). Allow to cool and harden.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
