<div class="menu-container js-menu-container" id="mobile-menu">
  <button class="menu-toggle-close js-close-menu">
    <svg class="mobile-icon-close" width="20" height="20">
      <use href="./img/icon.svg#icon-close_cros"></use>
    </svg>
  </button>

  <ul class="mobile-menu">
    <li class="mobile-menu-list">
      <a href="./index.html" class="mobile-menu-link js-close-menu">Home</a>
    </li>
    <li class="mobile-menu-list">
      <a href="#how-made" class="mobile-menu-link js-close-menu"
        >How it’s made?</a
      >
    </li>
    <li class="mobile-menu-list">
      <a href="#our-products" class="mobile-menu-link js-close-menu"
        >Our products</a
      >
    </li>
    <li class="mobile-menu-list">
      <a href="#top-sellers" class="mobile-menu-link js-close-menu"
        >Top sellers</a
      >
    </li>
    <li class="mobile-menu-list">
      <a href="#chocolate-is-loved" class="mobile-menu-link js-close-menu"
        >Chocolate is loved</a
      >
    </li>
  </ul>
  <ul class="mobile-socials">
    <li class="socials-item">
      <a
        class="socials-link-icon"
        href="https://www.instagram.com"
        target="_blank"
        rel="noreferrer noopener"
      >
        <svg class="mobile-menu-svg" width="24" height="24">
          <use href="./img/icon.svg#icon-instagram"></use>
        </svg>
      </a>
    </li>
    <li class="socials-item">
      <a
        class="socials-link-icon"
        href="https://twitter.com"
        target="_blank"
        rel="noreferrer noopener"
      >
        <svg class="mobile-menu-svg" width="24" height="24">
          <use href="./img/icon.svg#icon-twitter"></use>
        </svg>
      </a>
    </li>
  </ul>
</div>
