<section class="section section-product">
  <div class="container">
    <h2 class="section-title product-title " id="our-products">Our <span>pRODUCTS</span></h2>
    <div class="swiper swiperProduct">
      <ul class="swiper-wrapper list">
        <li class="swiper-slide link">
          <img
            srcset="./img/our-product/orange@2x.jpg 2x"
            src="./img/our-product/orange@1x.jpg"
            alt="photo"
            width="230"
            height="201"
          />
          <h3 class="slide-name">orange</h3>
          <p class="slide-smels">Dark chocolate</p>
          <a class="slide-price link" href="#">45 UAH</a>
        </li>
        <li class="swiper-slide link">
          <img
            srcset="./img/our-product/apple@2x.jpg 2x"
            src="./img/our-product/apple@1x.jpg"
            alt="photo"
            width="230"
            height="201"
          />
          <h3 class="slide-name">APPLE&CRANBERRY</h3>
          <p class="slide-smels">Dark chocolate</p>
          <a class="slide-price link" href="#">50 UAH</a>
        </li>
        <li class="swiper-slide link">
          <img
            srcset="./img/our-product/lime@2x.jpg 2x"
            src="./img/our-product/lime@1x.jpg"
            alt="photo"
            width="230"
            height="201"
          />
          <h3 class="slide-name">lime&sea salt</h3>
          <p class="slide-smels">Dark chocolate</p>
          <a class="slide-price link" href="#">66 UAH</a>
        </li>
        <li class="swiper-slide link">
          <img
            srcset="./img/our-product/pineapple@2x.jpg 2x"
            src="./img/our-product/pineapple@1x.jpg"
            alt="photo"
            width="230"
            height="201"
          />
          <h3 class="slide-name">pineapple</h3>
          <p class="slide-smels">Dark chocolate</p>
          <a class="slide-price link" href="#">54 UAH</a>
        </li>
        <li class="swiper-slide link">
          <img
            srcset="./img/our-product/classic-milk@2x.jpg 2x"
            src="./img/our-product/classic-milk@1x.jpg"
            alt="photo"
            width="230"
            height="201"
          />
          <h3 class="slide-name">Classic</h3>
          <p class="slide-smels">Milk chocolate</p>
          <a class="slide-price link" href="#">45 UAH</a>
        </li>
        <li class="swiper-slide link">
          <img
            srcset="./img/our-product/fruits@2x.jpg 2x"
            src="./img/our-product/fruits@1x.jpg"
            alt="photo"
            width="230"
            height="201"
          />
          <h3 class="slide-name">honey</h3>
          <p class="slide-smels">Milk chocolate</p>
          <a class="slide-price link" href="#">50 UAH</a>
        </li>
        <li class="swiper-slide link">
          <img
            srcset="./img/our-product/classic-white@2x.jpg 2x"
            src="./img/our-product/classic-white@1x.jpg"
            alt="photo"
            width="230"
            height="201"
          />
          <h3 class="slide-name">Roasted fruits</h3>
          <p class="slide-smels">Dark chocolate</p>
          <a class="slide-price link" href="#">66 UAH</a>
        </li>
        <li class="swiper-slide link">
          <img
            srcset="./img/our-product/honey@2x.jpg 2x"
            src="./img/our-product/honey@1x.jpg"
            alt="photo"
            width="230"
            height="201"
          />
          <h3 class="slide-name">Classic</h3>
          <p class="slide-smels">Milk chocolate</p>
          <a class="slide-price link" href="#">54 UAH</a>
        </li>
      </ul>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</section>
