<div class="backdrop is-hidden-p" data-modal-popup>
  <div class="popup-container">
    <button class="popup-btn" data-modal-close-popup>
      <svg class="popup-icon-close" width="16" height="16">
        <use href="./img/icon.svg#icon-close_cros"></use>
      </svg>
    </button>

    <div class="popup-content">
      <h3 class="popup-title">thank you!</h3>
      <p class="popup-text">
        We are glad that you ordered our chocolate and we are giving you a 20%
        discount on all our products.
      </p>
    </div>
    <img
      class="popup-img"
      src="../img/pop-up-thx/choco.png"
      alt="chocolate"
      width="296"
      height="399"
    />
  </div>
</div>
