<div class="backdrop popup-menu-container popup-is-hidden">
  <div class="popup-container">
    <button class="popup-btn">
      <svg class="popup-icon-close popup-close-menu" width="16" height="16">
        <use href="./img/icon.svg#icon-close_cros"></use>
      </svg>
    </button>

    <div class="popup-content">
      <h3 class="popup-title">thank you for your feedback!</h3>
      <p class="popup-text">We are so happy to hear from you!</p>
    </div>
    <picture>
      <source
        srcset="
          ./img/pop-up-thx/choco@1x.png 1x,
          ./img/pop-up-thx/choco@2x.png 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="./img/pop-up-thx/mob@1x.png 1x, ./img/pop-up-thx/mob@2x.png 2x"
        media="(min-width: 320px)"
      />
      <img class="popup-img" src="./img/pop-up-thx/mob@1x.png" alt="choco" />
    </picture>
  </div>
</div>

<!-- is-hidden-s -->
