<div class="backdrop popup-menu-container popup-is-hidden">
  <div class="popup-container">
    <button class="popup-btn">
      <svg class="popup-icon-close popup-close-menu" width="16" height="16">
        <use href="./img/icon.svg#icon-close_cros"></use>
      </svg>
    </button>

    <div class="popup-content">
      <h3 class="popup-title">thank you for your feedback!</h3>
      <p class="popup-text">We are so happy to hear from you!</p>
    </div>
    <img
      class="popup-img"
      src="./img/pop-up-thx/choco.png"
      alt="chocolate"
      width="296"
      height="399"
    />
  </div>
</div>

<!-- is-hidden-s -->
