<div class="backdrop review-menu-container review-is-hidden">
  <div class="modal">
    <button class="modal-btn review-close-menu" type="button">
      <svg class="modal-icon" width="24" height="24">
        <use href="./img/icon.svg#icon-close_cros"></use>
      </svg>
    </button>

    <strong class="modal-rewiews-cta modal-rewiews-display"
      >leave a review about
      <span class="modal-rewiews-color">our&nbsp;chocolate</span>
    </strong>

    <strong class="modal-rewiews-cta modal-rewiews-display-none"
      >leave a review about&nbsp;<span class="modal-rewiews-color"
        >our chocolate</span
      >
    </strong>

    <form class="modal-rewiews" name="contact_form">
      <div class="modal-rewiews-group">
        <input
          class="modal-rewiews-field"
          name="user"
          type="text"
          id="user_name"
          placeholder="Name"
        />
      </div>

      <div class="modal-rewiews-group">
        <input
          class="modal-rewiews-field"
          name="email"
          type="email"
          id="user_email"
          placeholder="Entre your email"
        />
      </div>

      <div class="modal-rewiews-group">
        <input
          class="modal-rewiews-field modal-rewiews-phone"
          name="phone"
          type="tel"
          id="user_phone"
          placeholder="+380  |    Phone number"
        />
      </div>
      <svg class="modal-rewiews-icon" width="31" height="23">
        <use href="./img/icon.svg#group-icon"></use>
      </svg>

      <textarea
        class="modal-rewiews-message"
        name="user_comment"
        id="user_comment"
        rows="5"
        placeholder="Enter text"
      ></textarea>
    </form>

    <button
      type="submit"
      class="button modal-rewiews-btn review-close-menu popup-open-menu anim-b"
    >
      Send
    </button>
  </div>
</div>
