<div class="section section-review">
  <div class="container">
    <h2 class="section-title review-title"><span>chocolate</span> is loved</h2>
    <ul class="review-list list">
      <li class="review-link link">
        <img
          class="reviews-photo"
          srcset="./img/choco-loved/victoria@12.png 2x"
          src="./img/choco-loved/victoria@1x.png"
          alt="photo"
          width="80"
          height="80"
        />
        <div class="reviews-author">
          <h3 class="reviews-name">Victoria Dobrzhanska</h3>
          <p class="reviews-text">
            I love this chocolate bar. Perfect combination of light crispy
            wafer, covered in a thin layer chocolate.
          </p>
        </div>
      </li>
      <li class="review-link link">
        <img
          class="reviews-photo"
          srcset="./img/choco-loved/nazar@2x.png 2x"
          src="./img/choco-loved/nazar@1x.png"
          alt="photo"
          width="80"
          height="80"
        />
        <div class="reviews-author">
          <h3 class="reviews-name">Victoria Dobrzhanska</h3>
          <p class="reviews-text">
            I love this chocolate bar. Perfect combination of light crispy
            wafer, covered in a thin layer chocolate.
          </p>
        </div>
      </li>
      <li class="review-link link">
        <img
          class="reviews-photo"
          srcset="./img/choco-loved/olena@2x.png 2x"
          src="./img/choco-loved/olena@1x.png"
          alt="photo"
          width="80"
          height="80"
        />
        <div class="reviews-author">
          <h3 class="reviews-name">Victoria Dobrzhanska</h3>
          <p class="reviews-text">
            I love this chocolate bar. Perfect combination of light crispy
            wafer, covered in a thin layer chocolate.
          </p>
        </div>
      </li>
    </ul>
    <button class="button product-button">Leave a review</button>
  </div>
</div>
