 <div class="backdrop is-hidden" data-modal-rewiews>
      <div class="modal">
        <button class="modal-btn" type="button" data-modal-review-close-btn>
          <svg class="modal-icon" width="12" height="12">
            <use href="../img/icon.svg#icon-close_cros"></use>
          </svg>
        </button>

        <strong class="modal-rewiews-cta modal-rewiews-display"
          >leave a review about
          <span class="modal-rewiews-color">our&nbsp;chocolate</span>
        </strong>

        <strong class="modal-rewiews-cta modal-rewiews-display-none"
          >leave a review about&nbsp;<span class="modal-rewiews-color"
            >our chocolate</span
          >
        </strong>

        <form class="modal-rewiews" name="contact_form">
          <div class="modal-rewiews-group">
            <input
              class="modal-rewiews-field"
              name="user"
              type="text"
              id="user_name"
              placeholder="Name"
            />
          </div>

          <div class="modal-rewiews-group">
            <input
              class="modal-rewiews-field"
              name="email"
              type="email"
              id="user_email"
              placeholder="Entre your email"
            />
          </div>

          <div class="modal-rewiews-group">
            <input
              class="modal-rewiews-field"
              name="phone"
              type="tel"
              id="user_phone"
              placeholder="Phone number"
            />
          </div>

          <textarea
            class="modal-rewiews-message"
            name="user_comment"
            id="user_comment"
            rows="5"
            placeholder="Enter text"
          ></textarea>
        </form>

        <button
          type="submit"
          class="button modal-rewiews-btn"
          data-modal-review-close-submit
        >
          Send
        </button>
      </div>
    </div>
  </div>
</section>
