<section class="section section-reviews">
  <div class="container">
    <h2 class="section-title reviews-title" id="chocolate-is-loved">
      <span>chocolate</span> is loved
    </h2>
    <div class="swiper swiperReviews">
      <ul class="swiper-wrapper list">
        <li class="swiper-slide link">
          <img
            class="reviews-photo"
            srcset="./img/choco-loved/victoria@2x.png 2x"
            src="./img/choco-loved/victoria@1x.png"
            alt="photo"
            width="80"
            height="80"
          />
          <div class="reviews-author">
            <h3 class="reviews-name">Victoria Dobrzhanska</h3>
            <p class="reviews-text">
              I love this chocolate bar. Perfect combination of light crispy
              wafer, covered in a thin layer chocolate.
            </p>
          </div>
        </li>
        <li class="swiper-slide link">
          <img
            class="reviews-photo"
            srcset="./img/choco-loved/nazar@2x.png 2x"
            src="./img/choco-loved/nazar@1x.png"
            alt="photo"
            width="80"
            height="80"
          />
          <div class="reviews-author">
            <h3 class="reviews-name">Nazar Babenko</h3>
            <p class="reviews-text">
              This chocolate confection is a delight! A delight! The wafer is
              light and crisp, the hazelnut cream is smooth, and the chocolate
              is good.
            </p>
          </div>
        </li>
        <li class="swiper-slide link">
          <img
            class="reviews-photo"
            srcset="./img/choco-loved/olena@2x.png 2x"
            src="./img/choco-loved/olena@1x.png"
            alt="photo"
            width="80"
            height="80"
          />
          <div class="reviews-author">
            <h3 class="reviews-name">Olena Kampusch</h3>
            <p class="reviews-text">
              Chocolate is a family favourite treat. Love the delicious smooth
              chocolate and the creaminess inside. The wafer is soft but
              crunchy.
            </p>
          </div>
        </li>
        <li class="swiper-slide link">
          <img
            class="reviews-photo"
            srcset="./img/choco-loved/natalia@2x.png 2x"
            src="./img/choco-loved/natalia@1x.png"
            alt="photo"
            width="80"
            height="80"
          />
          <div class="reviews-author">
            <h3 class="reviews-name">Natalia Sus</h3>
            <p class="reviews-text">
              The chocolate assortment was delicious. Both dark and milk
              chocolate pieces were smooth and just right on the sweetness
              level.
            </p>
          </div>
        </li>
        <li class="swiper-slide link">
          <img
            class="reviews-photo"
            srcset="./img/choco-loved/danilo@2x.png 2x"
            src="./img/choco-loved/danilo@1x.png"
            alt="photo"
            width="80"
            height="80"
          />
          <div class="reviews-author">
            <h3 class="reviews-name">Danilo Nottingham</h3>
            <p class="reviews-text">
              This is delicious. It so rich and flavorful you don’t need to use
              as many. I love topping an apple with almond butter and these
              chips for a snack.
            </p>
          </div>
        </li>
        <li class="swiper-slide link">
          <img
            class="reviews-photo"
            srcset="./img/choco-loved/irina@2x.png 2x"
            src="./img/choco-loved/irina@1x.png"
            alt="photo"
            width="80"
            height="80"
          />
          <div class="reviews-author">
            <h3 class="reviews-name">Irina Tydnyuk</h3>
            <p class="reviews-text">
              This is simply the best chocolate around, and I'm just thrilled to
              support a local company! Best local chocolate - world class :)
            </p>
          </div>
        </li>
      </ul>
    </div>
    <div class="swiper-pagin"></div>
    <button
      class="button product-button review-open-menu anim-b"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      Leave a review
    </button>
  </div>
</section>
