<div class="backdrop-sbscrb is-hidden" sbscrb_modal>
  <div class="sbscrb-modal">
    <button class="sbscrb-modal-btn" type="button" data-sbscrb_modalclose>
      <svg class="sbscrb-icon-size" width="24" height="24">
        <use
          class="sbscrb-modal-icon"
          href="./img/icon.svg#icon-close_cros"
        ></use>
      </svg>
    </button>
    <img
      class="sbscrb-modal-img"
      src="./img/subscribe/sbscrb_pop_up_mob@1x.jpg"
      alt="dark chocolate"
      srcset="./img/subscribe/sbscrb_pop_up_mob@2x.jpg"
    />
    <form class="sbscrb-modal-form">
      <div class="sbscrb-modal-wrapper">
        <div class="title-wrap">
          <strong class="sbscrb-modal-title"
            >Explore our
            <span class="accent">new&nbsp;chocolate</span> first!</strong
          >
        </div>
        <input
          class="sbscrb-modal-input input-sbscr-mame"
          type="email"
          name="user_email"
          id="user_email"
          placeholder="Enter your email"
        />
        <button class="sbscrb-submit-btn" type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>
