<section class="section subscribe">
  <div class="container subscrb">
    <div class="subscrb-list">
      <h3 class="subscr-title">EXPLORE OUR NEW CHOCOLATE FIRST</h3>
      <p class="subscr-text">
        From the velvety texture to the rich and complex flavor, our New
        Chocolate is a true indulgence that will leave you craving more. Made
        with only the finest ingredients and handcrafted with the utmost care,
        each piece is a work of art that is sure to please.
      </p>
      <button type="button" class="sbscrb-btn" data-sbscrb_modal-open>
        Subscribe
      </button>
    </div>
  </div>
  <div class="backdrop-sbscrb is-hidden" data-sbscrb_modal>
    <div class="sbscrb-modal">
      <button class="sbscrb-modal-btn" type="button" data-sbscrb_modalclose>
        <svg width="24" height="24">
          <use
            class="sbscrb-modal-icon"
            href="./img/icon.svg#icon-close_cros"
          ></use>
        </svg>
      </button>
      <img
        class="sbscrb-modal-img"
        src="./img/subscribe/sbscrb_pop_up_mob@1x.jpg"
        alt="dark chocolate"
        srcset="./img/subscribe/sbscrb_pop_up_mob@2x.jpg"
      />
      <form class="sbscrb-modal-form">
        <div class="title-wrap">
          <strong class="sbscrb-modal-title"
            >Explore our<span class="accent"> new chocolate </span
            >first!</strong
          >
        </div>
        <div class="sbscrb-modal-wrapper">
          <label class="lbl-sbscrb-name" for="user_email"
            >Enter your email</label
          >
          <input
            class="sbscrb-modal-input"
            type="email"
            name="user_email"
            id="user_email"
          />
          <button class="sbscrb-submit-btn" type="submit">Submit</button>
        </div>
      </form>
    </div>
  </div>
</section>
