<section class="section">
  <div class="container">
    <h2 class="sellers" id="top-sellers">
      <span class="sellers-style">TOP</span> Sellers
    </h2>
    <ul class="sellers-block">
      <li class="sellers-link">
        <picture>
          <source
            srcset="
              ./img/top-sellers/desk-nut@1x.jpg,
              ./img/top-sellers/desk-nut@2x.jpg
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./img/top-sellers/tab-nuts@1x.jpg,
              ./img/top-sellers/tab-nuts@2x.jpg
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/top-sellers/mob-nuts@1x.jpg,
              ./img/top-sellers/mob-nuts@2x.jpg
            "
            media="(min-width: 320px)"
          />
          <img
            class="sellers-img"
            src="./img/top-sellers/mob-nuts@2x.jpg"
            alt="white-choco"
          />
        </picture>
        <p class="sellers-text">
          Crazy enough chocolate originates from a bean just like the coffee
          bean called Cacao. Cacao has been around for thousands of years and
          was first discovered by the Native American tribe called the Mayans.
        </p>
      </li>
      <li class="sellers-link">
        <picture>
          <source
            srcset="
              ./img/top-sellers/desk-white-choco@1x.jpg,
              ./img/top-sellers/desk-white-choco@2x.jpg
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./img/top-sellers/tab-white-choco@1x.jpg,
              ./img/top-sellers/tab-white-choco@2x.jpg
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/top-sellers/mob-white-choco@1x.jpg,
              ./img/top-sellers/mob-white-choco@2x.jpg
            "
            media="(min-width: 320px)"
          />
          <img
            class="sellers-img"
            src="./img/top-sellers/desk-white-choco@1x.jpg"
            alt="white-choco"
          />
        </picture>
      </li>
      <li class="sellers-link sellers-displey">
        <picture>
          <source
            srcset="
              ./img/top-sellers/desk-dark-choco@1x.jpg,
              ./img/top-sellers/desk-dark-choco@2x.jpg
            "
            media="(min-width: 1200px)"
          />
          <img
            class="sellers-img"
            src="./img/top-sellers/desk-white-choco@1x.jpg"
            alt="white-choco"
          />
        </picture>
      </li>

      <li class="sellers-link-button">
        <p class="sellers-text-button">
          Crazy enough chocolate originates from a bean just like the coffee
          bean called Cacao. Cacao has been around for thousands of years and
          was first discovered by the Native American tribe called the Mayans.
        </p>
        <div>
          <button
            type="button"
            class="button sellers-button v-open-menu anim-b"
          >
            Buy now
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
