<section class="section">
  <div class="container">
    <h2 class="sellers"><span class="sellers-style">TOP</span> SELLERS</h2>
    <ul class="sellers-block">
      <li class="sellers-link sellers-hiro">
        <picture>
          <source
            srcset="
              ./img/img-chocolad/top-sellers/desk-nut@1x.jpg,
              ./img/img-chocolad/top-sellers/desk-nut@2x.jpg
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./img/img-chocolad/top-sellers/tab-nuts@1x.jpg,
              ./img/img-chocolad/top-sellers/tab-nuts@2x.jpg
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/img-chocolad/top-sellers/mob-nuts@1x.jpg,
              ./img/img-chocolad/top-sellers/mob-nuts@2x.jpg
            "
            media="(min-width: 320px)"
          />
          <img
            class="sellers-img"
            src="./img/img-chocolad/top-sellers/mob-nuts@2x.jpg"
            alt="white-choco"
          />
        </picture>
        <p class="sellers-text sellers-hiro">
          Crazy enough chocolate originates from a bean just like the coffee
          bean called Cacao. Cacao has been around for thousands of years and
          was first discovered by the Native American tribe called the Mayans.
        </p>
      </li>
      <li class="sellers-link sellers-hiro">
        <picture>
          <source
            srcset="
              ./img/img-chocolad/top-sellers/desk-white-choco@1x.jpg,
              ./img/img-chocolad/top-sellers/desk-white-choco@2x.jpg
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./img/img-chocolad/top-sellers/tab-white-choco@1x.jpg,
              ./img/img-chocolad/top-sellers/tab-white-choco@2x.jpg
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/img-chocolad/top-sellers/mob-white-choco@1x.jpg,
              ./img/img-chocolad/top-sellers/mob-white-choco@2x.jpg
            "
            media="(min-width: 320px)"
          />
          <img
            class="sellers-img"
            src="./img/img-chocolad/top-sellers/desk-white-choco@1x.jpg"
            alt="white-choco"
          />
        </picture>
      </li>
      <li class="sellers-link sellers-displey">
        <picture>
          <source
            srcset="
              ./img/img-chocolad/top-sellers/desk-dark-choco@1x.jpg,
              ./img/img-chocolad/top-sellers/desk-dark-choco@2x.jpg
            "
            media="(min-width: 1200px)"
          />
          <img
            class="sellers-img"
            src="./img/img-chocolad/top-sellers/desk-white-choco@1x.jpg"
            alt="white-choco"
          />
        </picture>
      </li>
      <li class="sellers-link sellers-link-button data-modal-open">
        <button type="button" class="button sellers-button" data-modal-open>
          Buy now
        </button>
      </li>
    </ul>
  </div>
</section>
