<section class="section">
  <div class="container">
    <h2 class="sellers" id="top-sellers">
      <span class="sellers-style">TOP</span> Sellers
    </h2>
    <ul class="sellers-block">
      <li class="sellers-link sellers-hiro">
        <img
          class="sellers-img"
          srcset="
            ./img/img-chocolad/top-sellers/desk-nut@1x.jpg 368w,
            ./img/img-chocolad/top-sellers/tab-nuts@1x.jpg 344w,
            ./img/img-chocolad/top-sellers/mob-nuts@1x.jpg 335w,
            ./img/img-chocolad/top-sellers/desk-nut@2x.jpg 736w,
            ./img/img-chocolad/top-sellers/tab-nuts@2x.jpg 688w,
            ./img/img-chocolad/top-sellers/mob-nuts@2x.jpg 770w
          "
          sizes="(min-width: 1200px) 368px, (min-width: 768px) 344px, (min-width: 480px) 335px, 100vw"
          src="./img/img-chocolad/top-sellers/mob-nuts@1x.jpg"
          alt="nuts"
          width="368"
          height="464"
        />
        <p class="sellers-text sellers-hiro">
          Crazy enough chocolate originates from a bean just like the coffee
          bean called Cacao. Cacao has been around for thousands of years and
          was first discovered by the Native American tribe called the Mayans.
        </p>
      </li>
      <li class="sellers-link">
        <img
          class="sellers-img"
          srcset="
            ./img/img-chocolad/top-sellers/desk-white-choco@1x.jpg 368w,
            ./img/img-chocolad/top-sellers/tab-white-choco@1x.jpg  344w,
            ./img/img-chocolad/top-sellers/mob-white-choco@1x.jpg  335w,
            ./img/img-chocolad/top-sellers/desk-white-choco@2x.jpg 736w,
            ./img/img-chocolad/top-sellers/tab-white-choco@2x.jpg  688w,
            ./img/img-chocolad/top-sellers/mob-white-choco@2x.jpg  770w
          "
          sizes="(min-width: 1200px) 368px, (min-width: 768px) 344px, (min-width: 480px) 335px, 100vw"
          src="./img/img-chocolad/top-sellers/mob-white-choco@1x.jpg"
          alt="white-choco"
          width="368"
          height="464"
        />
      </li>
      <li class="sellers-link sellers-displey">
        <img
          class="sellers-img"
          srcset="
            ./img/img-chocolad/top-sellers/desk-dark-choco@1x.jpg 368w,
            ./img/img-chocolad/top-sellers/desk-dark-choco@2x.jpg 736w
          "
          sizes="(min-width: 1200px) 368px, (min-width: 768px) 344px, (min-width: 480px) 335px, 100vw"
          src="./img/img-chocolad/top-sellers/desk-dark-choco@1x.jpg"
          alt="dark-choco"
          width="368"
          height="464"
        />
      </li>
      <li class="sellers-link sellers-link-button data-modal-open">
        <button type="button" class="button sellers-button" data-modal-open>
          Buy now
        </button>
      </li>
    </ul>
  </div>
</section>
