<section class="taste">
  <div class="container">
    <div class="taste-field">
      <h2 class="taste-title">
        IT ALL ADDS UP TO ONE EXCEPTIONAL&nbsp;<span class="taste-span"
          >TASTE</span
        >
        SENSATION
      </h2>
      <p class="taste-text">
        At Simply Chocolate, we believe that the secret to exceptional chocolate
        is in the details. From the sourcing of the finest ingredients to the
        careful crafting of each individual piece, every step of our process
        adds up to one exceptional taste sensation.
      </p>
    </div>

    <div class="taste-list">
      <div class="taste-box">
        <div class="taste-front first">
          <div class="taste-item">
            <picture>
              <source
                srcset="
                  ./img/taste/desk-choco@1x.png 1x,
                  ./img/taste/desk-choco@2x.png 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  ./img/taste/mob-choco@1x.png 1x,
                  ./img/taste/mob-choco@2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/taste/mob-choco@1x.png 1x,
                  ./img/taste/mob-choco@2x.png 2x
                "
                media="(min-width: 320px)"
              />
              <img
                class="taste-img"
                src="./img/taste/mob-choco@1x.png"
                alt="choco"
              />
            </picture>
            <h3 class="taste-subtitle">milk chocolate</h3>
          </div>
        </div>

        <div class="taste-back">
          <div class="taste-back-contents">
            <h3 class="taste-back-subtitle">Milk chocolate</h3>
            <ul class="taste-back-list">
              <li>
                <button class="taste-back-btn active" type="button">
                  chocolate
                </button>
              </li>
              <li>
                <button class="taste-back-btn" type="button">
                  the benefits
                </button>
              </li>
            </ul>
            <p class="taste-back-text">
              Milk chocolate is a solid chocolate confectionery containing
              cocoa, sugar and milk. It is the most consumed type of chocolate.
              Chocolate was originally sold and consumed as a beverage in
              pre-Columbian times. Although four-fifths of all milk chocolate is
              sold in the United States and Europe, increasingly large amounts
              are consumed in China and Latin America.
            </p>
          </div>
        </div>
      </div>

      <div class="taste-box">
        <div class="taste-front second">
          <div class="taste-item">
            <picture>
              <source
                srcset="
                  ./img/taste/desk-milk@1x.png 1x,
                  ./img/taste/desk-milk@2x.png 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  ./img/taste/mob-milk@1x.png 1x,
                  ./img/taste/mob-milk@2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/taste/mob-milk@1x.png 1x,
                  ./img/taste/mob-milk@2x.png 2x
                "
                media="(min-width: 320px)"
              />
              <img
                class="taste-img"
                src="./img/taste/mob-milk@1x.png"
                alt="choco"
              />
            </picture>
            <h3 class="taste-subtitle">milk</h3>
          </div>
        </div>

        <div class="taste-back">
          <div class="taste-back-contents">
            <h3 class="taste-back-subtitle">Milk</h3>
            <ul class="taste-back-list">
              <li>
                <button class="taste-back-btn active" type="button">
                  milk
                </button>
              </li>
              <li>
                <button class="taste-back-btn" type="button">
                  the benefits
                </button>
              </li>
            </ul>
            <p class="taste-back-text">
              Milk is a white liquid food produced by the mammary glands of
              mammals. It is the primary source of nutrition for young mammals
              (including breastfed human infants) before they are able to digest
              solid food.Early-lactation milk, which is called colostrum,
              contains antibodies that strengthen the immune system, and thus
              reduces the risk of many diseases. Milk contains many nutrients,
              including protein and lactose.
            </p>
          </div>
        </div>
      </div>

      <div class="taste-box last-item">
        <div class="taste-front third">
          <div class="taste-item">
            <picture>
              <source
                srcset="
                  ./img/taste/desk-nuts@1x.png 1x,
                  ./img/taste/desk-nuts@2x.png 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  ./img/taste/mob-nuts@1x.png 1x,
                  ./img/taste/mob-nuts@2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/taste/mob-nuts@1x.png 1x,
                  ./img/taste/mob-nuts@2x.png 2x
                "
                media="(min-width: 320px)"
              />
              <img
                class="taste-img"
                src="./img/taste/mob-nuts@1x.png"
                alt="choco"
              />
            </picture>
            <h3 class="taste-subtitle">nuts</h3>
          </div>
        </div>
        <div class="taste-back">
          <div class="taste-back-contents">
            <h3 class="taste-back-subtitle">Nuts</h3>
            <ul class="taste-back-list">
              <li>
                <button class="taste-back-btn active" type="button">
                  nuts
                </button>
              </li>
              <li>
                <button class="taste-back-btn" type="button">
                  the benefits
                </button>
              </li>
            </ul>
            <p class="taste-back-text">
              Almonds, pistachios, and walnuts are some types of nuts that
              contain healthy nutrients. When eaten as part of a nutrient-dense
              diet, these 9 nuts may offer benefits such as reducing your risk
              of heart disease. They&prime;re a good source of fiber, healthy
              fats, and plant protein. Plus, they&prime;re great on their own,
              paired with fruit, or added to dishes like salads, desserts, and
              grains.
            </p>
          </div>
        </div>
      </div>

      <div class="taste-box">
        <div class="taste-front fourth">
          <div class="taste-item">
            <picture>
              <source
                srcset="
                  ./img/taste/desk-coffee@1x.png 1x,
                  ./img/taste/desk-coffee@2x.png 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  ./img/taste/mob-coffee@1x.png 1x,
                  ./img/taste/mob-coffee@2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/taste/mob-coffee@1x.png 1x,
                  ./img/taste/mob-coffee@2x.png 2x
                "
                media="(min-width: 320px)"
              />
              <img
                class="taste-img"
                src="./img/taste/mob-coffee@1x.png"
                alt="choco"
              />
            </picture>
            <h3 class="taste-subtitle">semi - sweet chocolate</h3>
          </div>
        </div>
        <div class="taste-back">
          <div class="taste-back-contents">
            <h3 class="taste-back-subtitle">semi - sweet chocolate</h3>
            <ul class="taste-back-list">
              <li>
                <button class="taste-back-btn active" type="button">
                  sweet chocolate
                </button>
              </li>
              <li>
                <button class="taste-back-btn" type="button">
                  the benefits
                </button>
              </li>
            </ul>
            <p class="taste-back-text small-text">
              Semi-sweet chocolate has a cocoa solid content of 35 to 65%. One
              of the best ways to gain an understanding of this type of
              chocolate is to compare it to a different type of chocolate.
              Semisweet is darker than milk chocolate. In a taste comparison, it
              has a slightly bitter taste whereas milk chocolate is sweeter and
              more mellow. This delectable flavor of chocolate is very
              versatile.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
