.menu-toggle {
  position: absolute;
  top: 24px;
  right: 24px;
}

@media (min-width: 1200px) {
  .menu-toggle {
    display: none;
  }
}
.mobile-menu-svg {
  fill: none;
  stroke: var(--white-color);
}
.socials-link-icon {
  outline: transparent;
  border: none;
}
.socials-link-icon:hover .mobile-menu-svg,
.socials-link-icon:focus .mobile-menu-svg {
  stroke: var(--orange-color);
}

.menu-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 50%;
  width: 50vw;
  height: 100vh;
  padding-top: 136px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  background-color: var(--footer-color);
  z-index: 999;

  opacity: 0;
  visibility: hidden;
  transition: opacity 800ms ease-out, visibility 800ms ease-out;
}
@media screen and (min-width: 768px) {
  .menu-container {
    padding-top: 156px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 24px;
  }
}
.menu-container.is-open {
  opacity: 1;
  visibility: visible;
}
.mobile-menu {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: auto;
  transition: animation 0.2s linear;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    margin-left: 65px;
  }
}

.mobile-menu-link {
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.02em;
  color: var(--background-color);
  outline: transparent;
  border: none;
  position: relative;
  transition: transform var(--animation-button);
}

.mobile-menu-link:hover,
.mobile-menu-link:focus {
  transform: translateX(5px);
}

.mobile-menu-link::after {
  display: block;
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--background-color);
  opacity: 0;
  transition: all 450ms linear;
}
.mobile-menu-link:hover,
.mobile-menu-link:focus {
  color: var(--orange-color);
}

.mobile-menu-link:hover::after,
.mobile-menu-link:focus::after {
  display: block;
  content: '';
  position: absolute;
  bottom: 2;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--orange-color);
  opacity: 1;
}

.mobile-socials {
  display: flex;
  gap: 18px;
}

.mobile-icon-close {
  stroke: var(--background-color);
}
.menu-toggle-close {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  outline: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-toggle-close:hover .mobile-icon-close,
.menu-toggle-close:focus .mobile-icon-close {
  stroke: var(--orange-color);
}
