.section-product {
  padding-bottom: 89px;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .section-product {
    padding-bottom: 129px;
  }
}

@media screen and (min-width: 1200px) {
  .section-product {
    padding-bottom: 157px;
  }
}

.product-title {
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .product-title {
    margin-bottom: 50px;
  }
}

.product-title span {
  color: var(--orange-color);
}

@media screen and (min-width: 768px) {
  .section-product .swiper-slide {
    max-width: 270px;
  }

  .section-product .swiper {
    overflow: visible;
  }
}

@media screen and (min-width: 1200px) {
  .section-product .swiper {
    overflow: hidden;
  }
}

.section-product .swiper-slide {
  width: 100%;
  background-color: var(--white-color);
  text-align: center;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.section-product .swiper-slide img {
  margin: 0 auto;
  margin-bottom: 8px;
}

.slide-name {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.333;
  letter-spacing: -0.02em;
  text-transform: uppercase;

  color: var(--main-color);
  margin-bottom: 2px;
}

.slide-smels {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.7);
  margin-bottom: 18px;
}

.slide-price {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  font-weight: 600;
  line-height: 1.21;
  color: var(--main-color);
  width: 94px;
  height: 33px;
  background: var(--white-color);
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 100px;
}

.section-product .swiper-pagination {
  position: relative;
}

.section-product .swiper-pagination-bullet {
  width: 13px;
  height: 13px;
}

.section-product .swiper-pagination-bullet-active {
  width: 28px;
  border-radius: 20px;
  background-color: var(--orange-color);
  color: var(--orange-color);
}

.section-product .swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: -20px;
}

@media screen and (min-width: 768px) {
  .section-product .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: -32px;
  }
}
