.backdrop.is-hidden-s {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: scale(0.5);
}

.popup-container {
  z-index: 10;

  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
  max-width: 311px;
  min-height: 350px;
  background-color: #fd9222;
  border-radius: 15px;
  overflow: hidden;

  position: fixed;
}

@media only screen and (min-width: 768px) {
  .popup-container {
    max-width: 516px;
    min-height: 414px;
  }
}

.popup-btn {
  position: absolute;
  top: 14px;
  right: 14px;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;

  border-radius: 50%;
  background: #fcf1e0;
  border: 1px solid #fcf1e0;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .popup-btn {
    width: 40px;
    height: 40px;
  }
}

.popup-icon-close {
  display: inline-block;
  stroke-width: 0;
  stroke: #f16529;
  width: 16px;
  height: 16px;
}

@media only screen and (min-width: 768px) {
  .popup-icon-close {
    width: 22px;
    height: 22px;
  }
}

.popup-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  margin: 84px 24px 170px 68px;
  gap: 8px;
}

@media only screen and (min-width: 768px) {
  .popup-content {
    margin: 154px 44px 154px 163px;
  }
}

.popup-title {
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

@media only screen and (min-width: 768px) {
  .popup-title {
    font-size: 24px;
    line-height: 1.17;
  }
}

.popup-text {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #ffffff;
  margin: 0;
}

@media only screen and (min-width: 768px) {
  .popup-text {
    font-size: 18px;
    line-height: 1.33;
  }
}

.popup-img {
  position: absolute;
  width: 296px;
  height: 399px;
  left: -80px;
  top: 155px;
  scale: 1.2;
  transform: rotate(2deg);
}

@media only screen and (min-width: 768px) {
  .popup-img {
    scale: 1.5;
    left: -80px;
    top: 175px;
    transform: rotate(10deg);
  }
}
