/* Modal windoow*/

.backdrop.review-is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: scale(0.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 311px;
  max-height: 471px;

  padding: 32px 24px;

  background-color: var(--white-color);
  border-radius: 15px;
}
@media only screen and (min-width: 768px) {
  .modal {
    width: 517px;
  }
}

.modal-btn {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(-50%) translateY(50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: transparent;

  border-radius: 50%;
}

.modal-icon {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(-50%) translateY(50%);
  stroke: var(--main-color);
}

.modal-btn:hover .modal-icon,
.modal-btn:focus .modal-icon {
  stroke: var(--hover-close-color);
}

/* form modal */
.modal-rewiews-color {
  color: var(--orange-color);
}
.modal-rewiews-cta {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}
@media only screen and (min-width: 768px) {
  .modal-rewiews-cta {
    display: block;
    width: 297px;
  }
}

.modal-rewiews {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 14px;
  margin-top: 32px;
  margin-bottom: 18px;
}

.modal-rewiews-field {
  width: 100%;
  height: 45px;
  border-radius: 8px;
  padding-left: 18px;
  background-color: transparent;
  color: var(--main-color);
  outline: none;
  transition: border var(--animation-button);
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  filter: drop-shadow(0px 5.44492px 5.44492px rgba(0, 0, 0, 0.03));
}

.modal-rewiews-field:focus,
.modal-rewiews-field:hover,
.modal-rewiews-field:active{
border: 1.5px solid var(--orange-color);
}

.modal-rewiews-phone {
  padding-left: 70px;
}

.modal-rewiews-message {
  width: 100%;
  height: 91px;
  padding-top: 14px;
  padding-left: 18px;
  border-radius: 8px;
  resize: none;
  background-color: transparent;
    color: var(--main-color);
    outline: none;
    transition: border var(--animation-button);
    border: 1.5px solid rgba(17, 17, 17, 0.05);
    filter: drop-shadow(0px 5.44492px 5.44492px rgba(0, 0, 0, 0.03));
}

.modal-rewiews-message:focus,
.modal-rewiews-message:hover,
.modal-rewiews-message:active {
  border: 1.5px solid var(--orange-color);
}
.modal-rewiews-btn{
  transition: border var(--animation-button);
}

.modal-rewiews-btn:hover,
.modal-rewiews-btn:focus {
background-color: #fcf1e0;
  color: var(--orange-color);
}
@media only screen and (max-width: 768px) {
  .modal-rewiews-btn {
    padding: 14px 28px;
  }
}

@media only screen and (max-width: 768px) {
  .modal-rewiews-display {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .modal-rewiews-display-none {
    display: none;
  }
}

.modal-rewiews-icon {
  position: absolute;
  top: 50%;
  left: 49px;
  transform: translateY(25%);
}
