.backdrop.sbc-is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: scale(0.5);
}
.sbscrb-modal-img {
  width: 311px;
  height: 169px;
  padding-left: 0;
}
@media only screen and (min-width: 768px) {
  .sbscrb-modal-img {
    width: 538px;
    height: 196px;
  }
}
.sbscrb-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: var(--white-color);
  max-width: 311px;
  min-height: 350px;
  width: 100%;
  overflow: hidden;
  border-radius: 15px;
  padding: 0px 0px 32px 0px;
}
.sbscrb-modal-icon {
  stroke: var(--white-color);
  border-radius: 50%;
}

.sbscrb-modal-btn:hover .sbscrb-modal-icon,
.sbscrb-modal-btn:focus .sbscrb-modal-icon {
  stroke: var(--orange-color);
}

.sbscrb-modal-btn {
  position: absolute;
  top: 21px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: transparent;
  border: transparent;
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: background-color var(--animation-button),
    color var(--animation-button);
}

.sbscrb-modal-btn:hover,
.sbscrb-modal-btn:focus {
  background-color: var(--hover-focus-color);
}
.title-wrap {
  margin-top: 32px;
  margin-bottom: 24px;
}
.sbscrb-modal-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--main-color);
  text-align: start;
}

.sbscrb-modal-input {
  color: var(--main-color);
  position: absolute;
  width: 263px;
  height: 45px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  filter: drop-shadow(0px 5.44492px 5.44492px rgba(0, 0, 0, 0.03));
  border-radius: 25px;
}
.sbscrb-modal-wrapper {
  margin-right: 24px;
  margin-left: 24px;
}
@media only screen and (min-width: 768px) {
  .sbscrb-modal-wrapper {
    margin-top: 40px;
    margin-left: 40px;
  }
}
.input-sbscr-name {
  font-size: 14px;
  line-height: 1.17px;
  outline: transparent;
  letter-spacing: 0.01em;
  padding: 14px 18px;
}
.input-sbscr-name:hover,
.input-sbscr-name:focus {
  border-color: var(--orange-color);
}
.sbscrb-submit-btn {
  padding: 14px 22px;
  background-color: var(--orange-color);
  color: var(--white-color);
  border-radius: 100px;
  width: 100px;
  height: 45px;
  border: transparent;
  position: absolute;
  margin-left: 165px;
  transition: background-color var(--animation-button),
    color var(--animation-button);
}

.sbscrb-submit-btn:hover,
.sbscrb-submit-btn:focus {
  background-color: var(--hover-focus-color);
  color: var(--orange-color);
}

@media only screen and (min-width: 768px) {
  .sbscrb-modal {
    min-width: 538px;
    min-height: 412px;
    padding-bottom: 40px;
  }
  .sbscrb-modal-btn {
    width: 28px;
    height: 28px;
  }
  .sbscrb-icon-size {
    width: 14px;
    height: 14px;
  }
}
@media only screen and (min-width: 768px) {
  .sbscrb-modal-title {
    font-size: 24px;
    line-height: 1.17;
  }
  .title-wrap {
    margin-top: 0;
    margin-bottom: 28px;
  }
  .sbscrb-modal-form {
    width: 400px;
  }
  .sbscrb-submit-btn {
    padding: 16px 42px;
    width: 137px;
    height: 52px;
    margin-left: 325px;
  }
  .input-sbscr-name {
    font-size: 18px;
    line-height: 1.17px;
    padding: 14px 24px;
  }
  .sbscrb-modal-input {
    width: 458px;
    height: 53px;
  }
}
