.backdrop-sbscrb {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: transparent;
  background-color: rgba(66, 60, 46, 0.4);
  transition: opacity var(--animation), visibility var(--animation);
}
.backdrop-sbscrb.sbc-is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.sbscrb-modal-img {
  width: 311px;
  height: 169px;
  padding-left: 0;
}
.sbscrb-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: #ffffff;
  max-width: 311px;
  min-height: 350px;
  width: 100%;
  overflow: hidden;
  border-radius: 15px;
  padding: 0px 0px 32px 0px;
}
.sbscrb-modal-icon {
  stroke: #ffffff;
  border-radius: 50%;
}

.sbscrb-modal-btn:hover .sbscrb-modal-icon,
.sbscrb-modal-btn:focus .sbscrb-modal-icon {
  stroke: #fd9222;
}

.sbscrb-modal-btn {
  position: absolute;
  top: 21px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: transparent;
  border: transparent;
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.sbscrb-modal-btn:hover,
.sbscrb-modal-btn:focus {
  background-color: #fcf1e0;
}
.title-wrap {
  margin-top: 32px;
  margin-bottom: 24px;
}
.sbscrb-modal-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #111111;
  text-align: start;
}

.sbscrb-modal-input {
  position: absolute;
  width: 263px;
  height: 45px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  filter: drop-shadow(0px 5.44492px 5.44492px rgba(0, 0, 0, 0.03));
  border-radius: 25px;
}
.sbscrb-modal-wrapper {
  margin-top: 32px;
  margin-bottom: 32px;
  margin-left: 24px;
}
.input-sbscr-mame {
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);

  font-size: 9px;
  line-height: 1.17px;

  letter-spacing: 0.01em;
  padding-right: 5px;
  padding-left: 5px;
}
.sbscrb-submit-btn {
  padding: 14px 28px;
  background-color: #fd9222;
  color: #ffffff;
  border-radius: 100px;
  width: 100px;
  height: 45px;
  border: transparent;
  position: absolute;
  margin-left: 165px;
}

.sbscrb-submit-btn:hover,
.sbscrb-submit-btn:focus {
  background-color: #fcf1e0;
  color: #fd9222;
}

@media only screen and (min-width: 768px) {
  .sbscrb-modal {
    width: 538px;
    padding-left: 0;
  }
}
