.subscribe {
  padding-top: 62px;
  padding-bottom: 63px;
  background-color: gray;
  color: #ffffff;
  align-items: center;
  margin: 0 auto;
}

.subscribe {
  display: flex;
  flex-direction: column;
  max-width: 428px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('');
}

.sbcrb-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;

  text-align: center;
  letter-spacing: -0.03em;
  width: 291px;
  height: 48px;
  margin-bottom: 24px;
}
.sbcrb-text {
  line-height: 1.29;

  text-align: center;
  letter-spacing: -0.02em;
  margin-bottom: 24px;
}

.sbscrb-btn {
  padding: 12px 24px;
  border-radius: 100px;
  width: 128px;
  height: 41px;
  background: #fd9222;
  color: #ffffff;
  align-items: center;
}
