.subscribe {
  padding-top: 62px;
  padding-bottom: 63px;
  background-color: gray;
  color: #ffffff;
  align-items: center;
  margin: 0 auto;
}

.thumb-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;

  text-align: center;
  letter-spacing: -0.03em;
  width: 291px;
  height: 48px;
  margin-bottom: 24px;
}
.thumb {
  position: relative;
  width: 375px;
  overflow: hidden;
}
.thumb-text {
  position: absolute;
  line-height: 1.29;
  color: #ffffff;
  text-align: center;
  letter-spacing: -0.02em;
  margin-bottom: 24px;
  bottom: 24px;
  width: 90%;
  left: 10%;
}

.sbscrb-btn {
  padding: 12px 24px;
  border-radius: 100px;
  width: 128px;
  height: 41px;
  background: #fd9222;
  color: #ffffff;
  align-items: center;
}
