@media screen and (min-width: 768px) and (max-whidth: 1199px) {
    .container {
        max-width: 768px;
        padding: 0 32px;
    }
}
@media screen and (min-width: 1200px) {
    .container {
        max-width: 1200px;
        padding: 0 32px;
    }
}

.sellers {
    font-weight: 600;
        font-size: 24px;
        line-height: 1.17;
        letter-spacing: -0.03em;
    text-align: center;
    margin-bottom: 32px;
    text-transform: uppercase;
}

.sellers-text {
    max-width: 306px;
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: -0.02em;
    margin-top: 20px;
    text-align: left;
}
@media only screen and (min-width: 1200px){
    .sellers-text{
        position: absolute;
        max-width: 407px;
    }
}

.sellers-block{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px 16px;
}

.sellers-hiro {
    display: block;
}

.sellers-img {
    border-radius: 15px;
    max-width: 335px;
    margin: 0 auto;
}
@media only screen and (min-width: 768px) and (max-width: 1199px){
    .sellers-img{
        max-width: 344px;
    }
}
@media only screen and (min-width: 1200px){
    .sellers-img {
            max-width: 368px;
        }
}

.sellers-style {
    color: #FD9222;
}

.sellers-displey {
    display: none;
}

@media only screen and (min-width: 1200px) {
    .sellers-displey {
        display: flex;
    }
}

.sellers-button {
    display: block;
    margin: 0 auto;
}
@media only screen and (min-width: 768px) and (max-width: 1199px){
    .sellers-link-button {
            position: absolute;
            transform: translateX(280px) translateY(496px);
        }
}
@media only screen and (min-width: 1200px) {
    .sellers-link-button {
            position: absolute;
            transform: translateX(496px) translateY(496px);
        }
}