.taste {
  padding-bottom: 72px;
}

.taste-field {
  margin-bottom: 32px;
  max-width: 486px;
  margin: 0 auto;
  margin-bottom: 32px;
}

@media only screen and (min-width: 1200px) {
  .taste-field {
    margin-bottom: 50px;
  }
}

.taste-title {
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--main-color);

  margin: 0 auto;
  margin-bottom: 24px;
}

@media only screen and (min-width: 768px) {
  .taste-title {
    width: 411px;
  }
}

.taste-span {
  color: var(--orange-color);
}

.taste-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  letter-spacing: -0.02em;
}

/* front */
.taste-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 20px;
}

@media only screen and (min-width: 768px) {
  .taste-list {
    max-width: 704px;
    width: 100%;
    gap: 32px 20px;
  }
}

@media only screen and (min-width: 1200px) {
  .taste-list {
    display: grid;
    max-width: 1200px;
    grid-template-columns: repeat(4, 1fr);
    gap: 19px;
  }
}

.taste-box {
  position: relative;
  display: flex;
  width: 100%;
  height: 270px;

  transform-style: preserve-3d;
  perspective: 800px;
}

@media only screen and (min-width: 768px) {
  .taste-box {
    max-width: 336px;
  }
}

@media only screen and (min-width: 1200px) {
  .taste-box {
    max-width: 270px;
    height: 270px;
  }
}

.taste-front.first {
  background-color: var(--orange-color);
  color: var(--background-color);
}

.taste-front.second {
  background-color: var(--background-color);
  border: 1px solid var(--orange-color);
}

.taste-front.third {
  background-color: var(--secondary-color);
  color: var(--background-color);
}

.taste-front.fourth {
  background-color: var(--background-color);
  border: 1px solid var(--orange-color);
}

.taste-front,
.taste-back {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  padding: 28px;
  border-radius: 15px;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: transform 0.8s ease-in-out;
}

@media only screen and (min-width: 768px) {
  .last-item {
    order: 1;
  }
}

@media only screen and (min-width: 1200px) {
  .last-item {
    order: 0;
  }
}

.taste-item {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 100%;

  transform: translateZ(100px) scale(0.86);
}

.taste-back {
  background-color: var(--background-color);
  transform: rotateY(180deg);
}
.taste-box:hover .taste-front {
  transform: rotateY(-180deg);
}
.taste-box:hover .taste-back {
  transform: rotateY(0deg);
}

.taste-img {
  margin: 0 auto;
  margin-bottom: 25px;
}

.taste-subtitle {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

/* back */

.taste-back-contents {
  width: 100%;
  height: 214px;
  color: var(--background-color);
  transform: translateZ(100px) scale(0.85);
}

.taste-back-subtitle {
  margin-bottom: 8px;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--main-color);
}

.taste-back-list {
  display: flex;
  align-items: center;
  gap: 6px;

  margin-bottom: 14px;
}

.taste-back-btn {
  display: block;
  padding: 6px 16px;

  font-size: 10px;
  line-height: 1.2;
  color: var(--main-color);

  background: transparent;
  border-radius: 35px;
  border: 1px solid var(--orange-color);
  cursor: pointer;
}

.active {
  color: var(--background-color);
  background: var(--orange-color);
  border: transparent;
}

.taste-back-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;

  -webkit-line-clamp: 8;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;

  color: var(--main-color);
}

@media only screen and (min-width: 1200px) {
  .small-text {
    -webkit-line-clamp: 6;
  }
}
